
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            scroll-behavior: smooth;
        }

        .container {
            height: 120vh;
            display: block;
        }

        .top-container {
            height: 8vh;
            background: linear-gradient(to right, #375561, #0066ffa9);
            position: fixed;
            width: 100%;

        }

        .top-container h2 {
            color: white;
            padding: 10px;
        }

        .bottom-container {
            display: flex;
            position: relative;
            top: 50px;
        }

        #empty {
            flex: 1.5;
        }

        .content {
            flex: 4;
            background-color: rgba(211, 211, 211, 0.576);
            border-radius: 10px;



        }

        #content-item {
            height: 35vh;
            border: 1px solid black;
            border-top: none;
            border-left: none;
            border-right: none;
            display: flex;

        }

        .img {
            /* border: 2px solid red; */
            width: 60%;

        }

        .img img {
            height: 25vh;
            border-radius: 40px;
            margin-left: 120px;
            margin-top: 35px;
            width: 35%;
        }

        .text {
            /* border: 2px solid rgb(52, 25, 148); */
            width: 30%;

        }

        .text button {
            border: none;
            margin-top: 90px;
            background-color: transparent;
            font-weight: bolder;
        }

        .text button {
            text-decoration: none;
            color: black;
            cursor: pointer;

        }

        .text button:hover {
            color: plum;
            cursor: text;
            font-weight: bolder;


        }


        @media (max-width: 850px) {
            body {
                width: 100%;
            }

            .top-container {
                width: 100%;
                height: 7vh;
            }

            .top-container h2 {
                color: white;
                padding: 8px;
                font-size: 20px;
            }

            .bottom-container {
                width: 100%;

            }

            .bottom-container {
                display: block;
            }

            #empty {
                display: none;
            }

            .content {
                margin: 0px 5px;

            }

            #content-item {
                height: 35vh;
            }

            .img {
                width: 70%;

            }

            .img img {
                border-radius: 40px;
                margin-left: 30px;
                margin-top: 25px;
                width: 80%;

            }

            .text {
                width: 25%;
                margin-left: 5px;
            }

            .text button {
                border: none;
                margin-top: 45px;
                background-color: transparent;
                font-weight: bolder;
            }

            .text button:hover {
                color: plum;
                cursor: text;
                font-weight: bolder;


            }




        }
   